h1 {
    text-align: center;
    font-family: Roboto;

}

ul {
    float: left;
    font-size: 28px;
    font-family: Roboto;
    padding-left: 65px;
    padding-right: 100px;
    padding-bottom: 25px;
    background-color: #101010;
    color: white ;
}

a.productgroepLink:link {
    text-decoration: none;
}

a.productgroepLink:visited {
    text-decoration: none;
    color: #ffffff;
}

a.productgroepLink:hover {
    color:#00bff6;
    font-weight: bold;
}

a.productgroepLink:active {
    text-decoration: underline;
}