ul {
    float: left;
    font-size: 28px;
    font-family: Roboto;
    padding-left: 65px;
    padding-right: 100px;
    color: white ;
    background-color: #101010;
}

.picturesHome {
    width: 20%;
    height: 20%;
    margin-top: 28px;
    margin-left: 5px;
    border: 1px solid #021a40;
    background-color:#ff0;
}

.footer {
    width: 100%;
    background-color: #101010;
    color: white;
    text-align: center;
    display: block;
    position: fixed;
    bottom: 0px;
    border: 10px solid #101010;
}

a.productgroupLink:link {
    text-decoration: none;
}
a.productgroupLink:visited {
    text-decoration: none;
    color: #ffffff;
}
a.productgroupLink:hover {
    color:#00bff6;
    font-weight: bold;
}
a.productgroupLink:active {
    text-decoration: underline;
}

