.succesfull {
    width: 100%;
    color: deepskyblue;

}
a.succesfull:link {
    text-decoration: none;
    color: black;
}
a.succesfull:visited {
    text-decoration: none;
    color: deepskyblue;
}
a.succesfull:hover {
    color:#00bff6;
}
a.succesfull:active {
    text-decoration: none;
    font-weight: bold;
}
