div.titlesuccess {
    front-size: 100px;
}

a.successful {
    width: 100%;
    color: deepskyblue;

}
a.successful:link {
    text-decoration: none;
    color: black;
}
a.successful:visited {
    text-decoration: none;
    color: deepskyblue;
}
a.successful:hover {
    color: blue;
}
a.successful:active {
    text-decoration: none;
    font-weight: bold;
}
