.group{
    height: 300px;
    border-color: black;
    border-style: solid;
    border-width: medium;
    margin-right: 72%;
    margin-left: 5%;
    margin-top: 5%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://discountoffice.nl/productImages/8/large/Q891853-2.jpg")

}

p.productgroupname{
    text-align: center;
    float: bottom;
    padding-top: 230px;
}
