
.group1{
    height: 300px;
    border-color: black;
    border-style: solid;
    border-width: medium;
    /*margin-right: 52%;*/
    margin-left: 8%;
    margin-top: 1%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://discountoffice.nl/productImages/8/large/Q891853-2.jpg");
}

p.productgroupname{
    text-align: center;
    float: bottom;
    padding-top: 250px;
}
a.productgroupLink:link {
    text-decoration: none;
}
a.productgroupLink:visited {
    text-decoration: none;
    color: #ffffff;
}
a.productgroupLink:hover {
    color:#00bff6;
    font-weight: bold;
}
a.productgroupLink:active {
    text-decoration: underline;
}
ul {
    float: left;
    font-size: 28px;
    font-family: Roboto;
    padding-left: 65px;
    padding-right: 100px;
    padding-bottom: 100%;
    background-color: #101010;
    color: white;
}
.product{
    float: left;

}
