.titel {
    font-size: 55px;
    padding: 0px;
    margin:  0 auto;
    margin-top: 20px;
    font-family: "Roboto";
    border-bottom: 2px solid grey;
    text-align: center;
    width: 90%;
}

#myButton {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    float: right;
    clear:left;
    margin-bottom: 120px;
    margin-right: 250px;
    margin-top: 95px;
}

.label-subtotal {
    font-size: 20px;
}

.column-labels{
    padding-top: 30px;
    padding-left: 40px;
    font-size: 25px;
}

.totalprice {
    /*text-align: center;*/
    margin-left: 70%;
    width: 50%;
    height: 300px;
    padding-top: 80px;
}

.subtotal-values {
    font-family: "roboto";
    font-size: 25px;
    padding-bottom: 5%;
    margin-right: 0%;
}

.totalprice label {
    font-size: 20px;
    padding-left: 300px;
}

.product1 {
    width: 100%;
    font-size: 25px;
    font-family: "roboto";
    padding-bottom: 8%;
}

.product-image {
    float: left;
    width: 20%;
}

.product-details {
    float: left;
    width: 30%;
    font-family: "roboto";
    text-decoration: none;

}

.product-description {
    font-size: 15px;
}

.product-price {
    float: left;
    width: 10%;
    font-family: "roboto";

}

#buttone{
    font-size: 20px;
    margin-top: 5px;
    height: auto;
    width: auto;
    border-color: lightgrey;
}

#buton:hover{
    background-color: orangered;
}

.product-quantity {
    float: left;
    width: 9%;
    font-family: "roboto";
}

.product-removal {
    float: left;
    width: 9%;
    text-align: center;
    display: inline-block;
}

.remove-product {
    text-align: center;
    font-family: "roboto";

}

.product-line-price {
    float: left;
    width: 4%;
    text-align: right;
    padding-left: 180px;
    font-family: "roboto";
    float: left;
}

.product-line-price2 {
    float: left;
   padding-left: 40px;
}

.product-image  {
    text-align: center;
    font-family: "roboto";
}

.underline {
    padding-top: 30px;
    margin: 0 auto;
    width: 90%;
    border-bottom: 2px solid darkgray;
}

img.grim {
    width: 70px;
}

.column-labels {
height: 40px;
}

.product-img {
    height: 75px;
    width: 75px;
    object-fit: cover;
    /*border: 2px solid white;*/
    border-radius: 10px;
}
.subtotal-valuess{
    font-family: "roboto";
    font-size: 25px;
    padding-top: 1.5%;
    margin-right: 0%;
    color: grey;
    text-decoration: none;
}

.link{
    text-decoration: none;
    color: black;
}

.link:hover{
    color: black;
}

div.product2{
    width: 100%;
    text-align: center;
}

img.waggie {
    width: 21%;
    margin: 0 auto;
}

div.top {
    width: 100vw;
    heigth: 176px;

}
div.kopjes {
    width: 100vw;
    heigth: 176px;
    border-bottom: 1px solid grey;
}
img.image {
    width: 42px;
    height: 42px;
    padding-left: 50px;
    padding-top: 40px;
}

ul li h1 {
    display: inline-block;
}

ul li p {
    display: inline-block;
}


body {
    overflow-x: hidden;
}
