.titel {
    font-size: 55px;
    padding: 0px;
    margin:  0 auto;
    margin-top: 20px;
    font-family: "roboto";
    border-bottom: 2px solid grey;
    text-align: center;
    width: 90%;
}

.myButton {
    background-color: #F0F8FF;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    float:right;
    /*display:block;*/
    margin-right: 315px;
    clear:left;
    margin-top: 40px;

}


/*.kopje1 {*/
    /*font-weight: bold;*/
    /*padding-size: 30px;*/
    /*display: inline-block;*/
    /*padding-left: 16.432%;*/
    /*font-size: 20px;*

     */



.label-subtotal {
    font-size: 20px;

}

.column-labels{
    padding-top: 30px;
    padding-left: 40px;
    font-size: 25px;
}

.totalprice {
    width: 40px;
    height: 42px;
    padding-left: 1100px;
    padding-top: 180px;

}



.subtotal-values {
    float: left;
    padding-left: 420px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 20px;
}

.totalprice label {
    font-size: 20px;
    padding-left: 300px;
}

.product1 {
    width: 100%;
    font-size: 25px;
}

.product-image {
    float: left;
    width: 20%;
}

.product-details {
    float: left;
    width: 30%;
}

.product-description {
    font-size: 15px;
}

.product-price {
    float: left;
    width: 10%;
}

.product-quantity {
    float: left;
    width: 9%;
}

.product-removal {
    float: left;
    width: 9%;
    text-align: center;
}

.remove-product {

    text-align: center;
}

.product-line-price { float: left; width: 4%; text-align: right;
    padding-left: 180px;
}

.product-line-price2 { float: left;
   padding-left: 40px;
}

.product-image  {
    text-align: center;
}
img.grim {
    width: 70px;
}

.remove-product{
    float: right;
}

.column-labels {
height: 40px;
}

div.top {
    width: 100vw;
    heigth: 176px;

}
div.kopjes {
    width: 100vw;
    heigth: 176px;
    border-bottom: 1px solid grey;
}
img.image {
    width: 42px;
    height: 42px;
    padding-left: 50px;
    padding-top: 40px;
}

ul li h1 {
    display: inline-block;
}

ul li p {
    display: inline-block;
}

