.titel {
    font-size: 80px;
    padding: 0px;
    margin:  0 auto;
    margin-top: 20px;
    font-family: "roboto";
    border-bottom: 1px solid grey;
    text-align: center;
    width: 550px;
}

.myButton {
    background-color: #F0F8FF;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.kopje{
    font-weight: bold;
}
div.top{
    width: 1024px;

}